

body {
    line-height: 150%;
    width: 90%; 
    padding-left: 30px;
}


#header {
    width: 100%;  
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 90%;
    border-bottom: 1px solid #aaaaaa;  
}

.nolink {
    color: #aaaaaa;
}

#title {
    width: 100%;  
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000080;
}

.titlename {
    display: inline-block; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    font-size: 140%;
    font-weight: bold;
    width: 85%;
}


.date { 
    display: inline-block; 
    width: 10%;
    text-align: right; 
    /* margin-right: 0px; */
    /* color: #ffffff; */
    font-size: 90%;
}

#abstract {
    width: 95%; 
    /*padding-left: 2%; */
    /* padding-right: 5%; */
    padding-bottom: 10px;
    font-size: 95%;
}

#main {
    /* float: left;  */
    width: 100%; 
    margin-top: 10px;
}

#revise {
    font-size: 90%;
    border-top: 1px solid #aaaaaa;  
    border-bottom: 1px solid #aaaaaa;  
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 10px; 
 }

.noline {
    text-decoration: none; 
}

a {
    color: #1060ff; 
}

a:hover {
    color: #0000ff; 
}

h1 {
/*    color: #7db4e6; */
/*    color: #dc143c; */
/*    color: #ffffff; */
    color: #000080;
}

h2 {
    color: #000080;
}

h3.section {
    padding: 0.4em 0.5em;   /*文字の上下 左右の余白*/
    color: #494949;         /*文字色*/
    background: #ededfa;    /*背景色*/
    border-left: solid 15px #000080;    
    border-bottom: solid 1px #000080; 
    margin-top: 25px;
    box-shadow: 3px 3px 5px #aaaaaa; /* 5px 5px #cccccc outset;  */
}

h4.revise {
    font-weight: normal;
    margin-top: 0px; 
    margin-bottom: 0px; 
}

.hdln {
    font-weight: bold;
    margin-right: 5px; 
    background: linear-gradient(transparent 70%, #a8eaff 30%);
}

ul {
    margin-left: -5px;
    margin-top: 5px; 
    margin-bottom: 0px; 
}

ul li {
    padding-bottom: 5px;
}

ul.menu {
    margin-left: -5px;
    margin-top: 0px; 
    margin-bottom: 0px; 
}

ul li.menu {
    padding-bottom: 0px;
}

ol {
    margin-left: -5px; 
    margin-top: 5px; 
    margin-bottom: 0px; 
}

ol li {
    padding-bottom: 3px;
}

pre.list { 
    line-height: 130%;
/*    background-color: #f8f8e0; */
    background-color: #f2efe4;
    font-family: monospace;
    padding-top: 5px; 
    padding-bottom: 5px; 
    padding-left: 5px; 
    /* width: 90%; */
    margin-top: 8px;
    margin-bottom: 8px;
/*    border: 1px solid #cccccc;  */
    border: 1px outset #cccccc;  
    overflow: auto; 
}

pre.shell { 
    line-height: 130%;
    background-color: #f4fff4; 
    /* background-color: #f0f0f0; */
    /* background-color: #f0fff0; */
    font-family: monospace;
    padding-top: 5px; 
    padding-bottom: 5px; 
    padding-left: 5px; 
    /* width: 90%; */
    margin-top: 8px;
    margin-bottom: 8px;
/*    border: 1px solid #cccccc;  */
    border: 1px outset #cccccc;  
    overflow: auto; 
}

.ref{
    margin-left: 10%;
    color: blue;
/*
    display: inline-block; 
    width: 100%; 
    text-align: right; 
*/
}

blockquote {
    padding: 0.4em 0.5em;   /*文字の上下 左右の余白*/
    /* color: #494949;  */        /*文字色*/
    /* background: #ededfa; */    /*背景色*/
    /* border-left: solid 10px #f0d0d0; */
    border-left: solid 5px #d0d0d0;
    margin-left:3%;
    margin-right:3%;
    width: 90%; 
    /* border-bottom: solid 1px #000080;  */
    /* margin-top: 25px; */
    /* box-shadow: 3px 3px 5px #aaaaaa; */ /* 5px 5px #cccccc outset;  */
}

em {
    font-weight: bold;
    font-style: normal;
    /* color: darkviolet;  */
    /* color: red;  */
    color: #dd00dd;  
}

hr {
    border-width: 2px 0 0 0; /* 太さ */
    border-style: solid; /* 種類 */
    border-color: silver; /* 色 */
}

mycmd { color: blue; }
span.mycmd { color: blue; }

myred { color: red; }
span.myred { color: red; }

mysyn {
    font-style: italic;
}
mysyn:before { content: "<"; }
mysyn:after { content: ">"; }
span.mysyn {
    font-style: italic;
}
span.mysyn:before { content: "<"; }
span.mysyn:after { content: ">"; }

mytt { font-family: monospace; }
span.mytt { font-family: monospace; }

mykw { 
    font-weight: bold;
    color: darkviolet; 
}
span.mykw { 
    font-weight: bold;
    color: darkviolet; 
}

